

<br />
<br />
<div class="ml-5 pl-5">
    <div class="container mt-5 mr-5">
        <div class="row mr-5">
            <div class="col-6">
                <h1>Find your new pawsome family member</h1>
                <br>
                <p>Place where you can adopt stray dog, donate for those in need, ask question about whatever related to your dog and get sincere answers from other dog lovers.</p>
                <br />
                <div class="ml-3 pl-3">
                <a asp-action="ListDogCategories" asp-controller="Dogs" class="btn btn-primary btn-lg">Get started</a>
                    </div>

            </div>
            <div class="col-6 ">
                <img src="~/Images/ProjectImages/pawsome.png" style="width:80%" class="ml-5 pl-5">
            </div>
        </div>
    </div>
    </div>
